.jobCard {
  background: $color-white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(174, 175, 182, 1);
  -moz-box-shadow: 0px 3px 6px 0px rgba(174, 175, 182, 1);
  box-shadow: 0px 3px 6px 0px rgba(174, 175, 182, 1);
  border-radius: 0.5em;
  margin-bottom: 3em;

  &__link {
    display: flex;
    align-items: center;
    padding: 1.5em;

    &:active {
      background: $color-light;
    }
  }

  &__image {
    align-self: stretch;
    border-radius: 0.5em;
    box-shadow: 0px 3px 6px 0px rgba(174, 175, 182, 1);
    max-width: 10em;
    max-height: 10em;
    margin-right: 2em;
  }

  &__description {
    flex: 1;
    color: $color-primary;

    @include breakpoint(xs) {
      display: none;
    }

    &--phone {
      display: none;
      @include breakpoint(xs) {
        display: block;
      }
    }

    & > .jobCard__header {
      font-size: 1.2rem;

      @include breakpoint(xxs) {
        font-weight: 500;
      }
    }

    & > .jobCard__title {
      font-size: 2rem;
      font-weight: 500;
      margin: 0.25em 0 0.75em;
      font-family: $font-secondary;

      @include breakpoint(md) {
        font-size: 1.75rem;
      }

      @include breakpoint(xxs) {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    & > .jobCard__text {
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0.25em 0.5em;
      border: 1px solid $color-primary;
      display: inline-block;
    }
  }

  &__info {
    display: flex;
    color: $color-grey;
    align-self: flex-end;

    @include breakpoint(xs) {
      display: none;
    }

    &--phone {
      display: none;

      @include breakpoint(xs) {
        display: flex;
        margin-top: 2em;

        @include breakpoint(xxs) {
          flex-direction: column;
        }
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;

      & .jobCard__icon {
        margin-right: 0.25em;
        font-size: 2rem;
      }

      & .jobCard__caption {
        font-size: 1.2rem;
        margin-bottom: 0 !important;
      }

      &:not(:last-of-type) {
        margin-right: 3em;

        @include breakpoint(xxs) {
          margin-right: 0;
          margin-bottom: 1em;
        }
      }
    }
  }
}
