.header {
  margin-bottom: 3em;
  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: $color-darkBlue;

    &--small {
      font-size: 1.5rem;
    }
  }

  &__thin {
    font-weight: 300;
  }
}
