.form {
  &__input {
    flex: 1;
    font-size: 1.5rem;
    height: 2.5em;
    border: none;
    outline: none;
    position: relative;
    padding: 0.75em 0.75em 0.75em 2.5em;
    border-radius: 0.2em;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey;
    }
  }

  &__input--location {
    width: 25em;
  }

  &__submit {
    background: $color-blue;
    position: absolute;
    right: 15em;
    padding: 0.45em 2em;
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: $color-light;
    cursor: pointer;
    border-radius: 0.2em;

    &:hover {
      background: $color-blue-light;
    }

    &:active {
      background: $color-blue-dark;
    }
  }

  &__inputIcon {
    position: absolute;
    left: 11.5em;
    width: 2em;
    color: $color-grey;
    font-size: 2rem;

    &--location {
      left: 4em;
      transform: translateY(2.35em);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3em;

    &--location {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__radio {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__checkbox {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
  }

  &__label {
    font-size: 1.5rem;
    font-weight: bold;

    &--location {
      text-transform: uppercase;
      margin-bottom: 1em;
      color: $color-grey;
      font-weight: 500;
    }

    &--city {
      font-weight: 500;
    }
  }

  &__radio {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    &__btn {
      width: 2rem;
      height: 2rem;
      margin-right: 1em;
    }
  }
}
