// COLORS
$bg-color: #f6f7fb;
$color-grey: #aeafb6;
$color-dark: #212124;
$color-darkBlue: #423f50;
$color-blue: #1e87ff;
$color-blue-dark: #0766d3;
$color-blue-light: #3995ff;
$color-light: #f2f2f2;
$color-white: #fff;
$color-primary: #4c5c90;

// FONT-FAMILY
$font-primary: "Poppins", sans-serif;
$font-secondary: "Lato", sans-serif;
