.form {
  padding: 3em 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/backgroundImg.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5em;
  margin-bottom: 5em;
}
